<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
    #blog-body * {
  color:black;
  padding: 5px;
  }
  pre, code {
    background: black;
    color:white!important;
    padding: 10px;
    border-radius: 10px;
  }
  </style>
  </head>
  <body>

    <div class="KW_progressContainer">
      <div class="KW_progressBar">

      </div>
    </div>
    <div class="page">
    <div id="colorlib-page">
      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="colorlib-navbar-brand">
                <a class="colorlib-logo" href="index.html"><span class="logo-img" style="background-image: url(images/person_1.jpg);"></span>{{author}}</a>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="ftco-section">
        <div class="container mt-5">
        	<div class="row justify-content-center mb-5 pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
              <span>Blog</span>
              <h2>{{blog_title}}</h2>
            </div>
          </div>
          <div class="row d-flex justify-content-center">
            <div class="container-fluid" id="blog-body" style="background-color: white;border-radius: 50px;color:black">
              <h3 class="mb-3">{{body}}</h3>
              <div class="tag-widget post-tag-container mb-5 mt-5">
                <div class="tagcloud">
		 {{tags}}
                </div>
              </div>
              
              <div class="about-author d-flex pt-5">
                <div class="bio align-self-md-center mr-4">
                  <img src="images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                </div>
                <div class="desc align-self-md-center">
                  <h3>About The Author</h3>
                  <p>{{about}}</p>
                </div>
              </div>

		<!---
              <div class="pt-5 mt-5">
                <h3 class="mb-5"><%= blog.comments.length %> Comments</h3>
                <ul class="comment-list">
		  <% for(var i=0;i<blog.comments.length;i++) { %>
                  <li class="comment">
                    <div class="comment-body">
                      <h3><%= blog.comments[i].by %></h3>
                      <p><%= blog.comments[i].text %></p>
                    </div>
                  </li>
		 <% } %>
		 </ul>
                  </div> -->
                <!-- END comment-list -->
                
                <div class="comment-form-wrap pt-5">
                  <!--<h3 class="mb-5">Leave a comment</h3>
                  <form action="#">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name">
                    </div>
                     <div class="form-group">
                      <label for="message">Message</label>
                      <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                    </div>

                  </form>
                </div>
		-->
              </div>

            </div> <!-- .col-md-8 -->

          </div>
        </div>
      </section>
      
      <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
              <div class="ftco-footer-widget mb-5">
                <ul class="ftco-footer-social list-unstyled">
                  <li class="ftco-animate"><a href="https://twitter.com/undefined_void"><span class="icon-twitter"></span></a></li>
                  <li class="ftco-animate"><a href="https://facebook.com/divy.srivastava.2121"><span class="icon-facebook"></span></a></li>
                  <li class="ftco-animate"><a href="https://instagram.com/divy.work"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
              <div class="ftco-footer-widget">
                <h2 class="mb-3">Contact Us</h2>
                <p class="h3 email"><a href="mailto:dj.srivastava23@gmail.com">{{email}}</a></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">

              <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <i class="icon-heart" aria-hidden="true" style="color: red;"></i> by <a href="http://divy.work" target="_blank">Divy</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </footer>

      <!-- loader -->
      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

      </div>

    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>
    
  </body>
</html>
