<!DOCTYPE html>
<html lang="en" dir="ltr"></html>
<head>
	<title>Bloom Admin Login ClassicEditor Beta</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	    <link rel="stylesheet" href="css/u_style.css">
 
</head>
<body data-editor="ClassicEditor" data-collaboration="false">
	<div class="centered"><h2 style="color:#E6E6E6">Bloom Classic Editor</h2>
  
  </div>
	<main>
		<div class="centered"><br>	
			<form method="POST" url="/login">
	<input type="text" class="form-control" placeholder="Username" name="username" />
<input type="password" class="form-control" placeholder="Password" name="password" />
<button class="btn btn-primary" type="submit">Login</button>
			</form>
		</div>
	</main>
		<script src="js/jquery.min.js"></script>
	
</body>
